// Remove needless bottom margin on buttons in MaterializeCSS lib
.btn, .btn-large, .btn-flat {
  margin-bottom: 0;
}

// Add additional margin to the bottom of cards
.card {
  margin-bottom: 30px;
}

// Arbitrary width on cards project-wide
.eyesover-card {
  width: 400px;
}

// Nav styles
nav {
  position: relative;
  margin-bottom: 20px;

  .logo {

    p {
      letter-spacing: -2px;
      margin: 0 0 0 15px;
      font-weight: 200;
      font-size: 36px;
    }
  }

  .nav-wrapper {
    margin-right: 15px;
  }
}