
// Blue/Grey Theme
/* * * * * * * * * * * * * *
 *                         *
 * Blue/Grey Theme         *
 *                         *
 * * * * * * * * * * * * * */
body.blue-grey-theme {
  // Color variables for use in LESS files
  @primary-color: #607d8b;
  @primary-color-lighten-1: #78909c;
  @primary-color-lighten-2: #90a4ae;
  @primary-color-lighten-3: #b0bec5;
  @primary-color-lighten-4: #cfd8dc;
  @primary-color-lighten-5: #eceff1;
  @primary-color-darken-1: #546e7a;
  @primary-color-darken-2: #455a64;
  @primary-color-darken-3: #37474f;
  @primary-color-darken-4: #263238;


  // Color classes for use in HTML templates
  .primary-color: {
    background-color: @primary-color !important;

    &.lighten-1 {
      background-color: @primary-color-lighten-1 !important;
    }

    &.lighten-2 {
      background-color: @primary-color-lighten-1 !important;
    }

    &.lighten-3 {
      background-color: @primary-color-lighten-1 !important;
    }

    &.lighten-4 {
      background-color: @primary-color-lighten-1 !important;
    }

    &.lighten-5 {
      background-color: @primary-color-lighten-1 !important;
    }

    &.darken-1 {
      background-color: @primary-color-darken-1 !important;
    }

    &.darken-2 {
      background-color: @primary-color-darken-1 !important;
    }

    &.darken-3 {
      background-color: @primary-color-darken-1 !important;
    }

    &.darken-4 {
      background-color: @primary-color-darken-1 !important;
    }
  }
}