<div class="reddit-card eyesover-card">
  <i class="card-style valign-wrapper">
    <img src="images/reddit-alien.png" alt="Reddit Logo">
  </i>
  <div class="card">
    <div class="card-content">
      <div class="post-contents">
        <p ng-bind-html="post.content"></p>
      </div>
      <h5 class="username"><a href="{{ post.profileUrl }}">{{ post.username }}</a></h5>
    </div>
    <div class="card-action">
      <div class="rc-left">
        <a href="#" class="btn-flat waves-effect upvote"><img src="../images/reddit-upvote.png" alt="Reddit Upvote"></a>
        <a href="#" class="btn-flat waves-effect downvote"><img src="../images/reddit-downvote.png" alt="Reddit Downvote"></a>
      </div>
      <div class="rc-right right">
        <a href="{{ post.postUrl }}" target="_blank" class="btn primary-color waves-effect"><i class="fa fa-external-link"></i> <span>Post</span></a>
        <a href="{{ post.commentUrl }}" target="_blank" class="comment btn primary-color waves-effect"><i class="fa fa-external-link"></i> <span>Comment</span></a>
      </div>
    </div>
  </div>
</div>